ul,
li {
  list-style: none;
  display: flex;
  font-size: 20px;
  margin-right: 20px;
}

ul {
  border-bottom: 1px solid black;
  padding: 20px 10px 50px;
  margin: 0;
}

li:last-child {
  margin-right: 0;
}

.container {
  margin: 50px auto 0;
  border: 1px solid black;
  padding: 20px;
  width: 500px;
}

.todo-container {
  margin: 50px auto 0;
  border: 1px solid black;
  padding: 20px;
  width: 1000px;
}

input {
  background-color: #eee;
  border: none;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.errorMessage {
  color: red;
}

.todoList {
  display: block;
}

.todoItem {
  display: flex;
  align-items: center;
}

.todoBtn {
  width: auto;
  margin: 0;
  padding: 0;
}

label input {
  width: auto;
}

label span {
  padding: 0 50px 0 10px;
}
